<spinner></spinner>
<div *ngIf="posts">
  <div *ngFor="let post of posts">
    <div class="container bootstrap snippets bootdey">
      <div class="col-md-10">
        <div class="box box-widget">
          <div class="box-header with-border">
            <div class="user-block">
              <img
                *ngIf="post.profilePic; else noProfilePic"
                class="rounded-circle"
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="User Image"
              />
              <ng-template #noProfilePic>
                <span
                  ><i class="fa fa-user fa-4x pull-left" aria-hidden="true"></i
                ></span>
              </ng-template>
              <span class="username"
                ><a href="#">{{ post.fullName }}</a></span
              >
              <span class="shared"
                ><b>
                  Julkaistu - {{ post.post.timestamp | myCustomDatePipe }}
                </b>
              </span>
            </div>
          </div>

          <div class="box-body" style="display: block">
            <h1>
              <b>
                {{ post.post.title }}
              </b>
            </h1>
            <img
              *ngIf="post.post.imageUrl"
              class="img-responsive pad"
              src="{{ post.post.imageUrl }}"
              alt="Photo"
            />
            <p>{{ post.post.content }}</p>
            <button type="button" class="btn btn-default btn-xs">
              <i class="fa fa-share"></i> Share
            </button>
            <button type="button" class="btn btn-primary btn-xs like">
              <i class="fa fa-thumbs-o-up"></i> Like
            </button>
            <span class="pull-right text-muted"
              >{{ post.post.likes }} likes -
              {{ post.postComments.length }} comments</span
            >
          </div>
          <div *ngFor="let comment of post.postComments">
            <div class="box-footer box-comments" style="display: block">
              <div class="box-comment">
                <img
                  class="rounded-circle"
                  src="https://bootdey.com/img/Content/avatar/avatar2.png"
                  alt="User Image"
                />
                <div class="comment-text">
                  <span class="username">
                    {{ comment.firstName + " " + comment.lastName }}
                    <span class="text-muted pull-right">{{
                      comment.comment.timestamp | myCustomDatePipe
                    }}</span>
                  </span>
                  <span style="left: 0%">
                    {{ comment.comment.comment }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer" style="display: block">
            <form class="form-group" #myF="ngForm">
              <img
                class="rounded-circle img-sm"
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="Alt Text"
              />
              <div class="img-push">
                <input
                  ngModel
                  type="text"
                  name="comment"
                  for="commment"
                  class="form-control input-sm"
                  placeholder="Press enter to post comment"
                  style="
                    border: 1px solid grey;
                    box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.4);
                  "
                  (keyup.enter)="
                    onPublishComment(myF.form.value.comment, post.post.id)
                  "
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
