<div *ngIf="posts?.length > 0; else elseBlock">
  <div *ngFor="let post of posts">
    <div class="container" style="border: solid grey">
      <div class="row">
        <div class="col-md-12">
          <div class="container">
            <!-- POST HEADER -->
            <div class="row">
              <div class="col-md-12 box-header with-border">
                <div class="user-block">
                  <img
                    *ngIf="post.profilePic; else noProfilePic"
                    class="rounded-circle"
                    src="https://bootdey.com/img/Content/avatar/avatar1.png"
                    alt="User Image"
                  />
                  <ng-template #noProfilePic>
                    <span
                      ><i
                        class="fa fa-user fa-4x pull-left"
                        aria-hidden="true"
                      ></i
                    ></span>
                  </ng-template>
                  <button
                    *ngIf="post.userId === user.id"
                    type="button"
                    class="btn btn-outline-danger pull-right"
                    style="margin: 0"
                    (click)="onDeletePost()"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i> Delete Post
                  </button>
                  <span
                    [routerLink]="['/profile']"
                    [queryParams]="{ id: post.userId }"
                    class="username"
                    [ngClass]="{ ondbox: post.userId !== user.id }"
                    ><a>{{ post.fullName }}</a></span
                  >
                  <br />
                  <span
                    class="shared"
                    [ngClass]="{ ondbox: post.userId !== user.id }"
                    ><b>
                      Julkaistu - {{ post.post.timestamp | myCustomDatePipe }}
                    </b>
                  </span>
                </div>
              </div>
            </div>
            <!-- POST BODY IMAGE -->
            <div class="row justify-content-center">
              <div class="col-md-12">
                <h1 align="center">
                  <b>
                    {{ post.post.title }}
                  </b>
                </h1>
              </div>
              <div class="col-md-12 d-flex justify-content-center">
                <img
                  *ngIf="post.post.imageUrl"
                  class="img-responsive"
                  src="{{ post.post.imageUrl }}"
                  alt="Photo"
                />
              </div>
              <div class="col-md-12 p-0">
                <p>{{ post.post.content }}</p>
                <hr />
                <button type="button" class="pull-left btn btn-light btn-xs">
                  <i class="fa fa-share"></i> Share
                </button>
                <button
                  type="button"
                  class="pull-left btn btn-primary btn-xs like"
                >
                  <i class="fa fa-thumbs-o-up"></i> Like
                </button>
                <span class="pull-right text-muted"
                  >{{ post.post.likes }} likes -
                  {{ post.postComments.length }} comments</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 p-0">
                <div class="box-footer box-comments">
                  <div
                    class="box-comment"
                    *ngFor="let comment of post.postComments"
                  >
                    <img
                      *ngIf="comment.profilePicUrl; else noProfilePic"
                      class="rounded-circle"
                      src="https://bootdey.com/img/Content/avatar/avatar2.png"
                      alt="User Image"
                    />
                    <ng-template #noProfilePic>
                      <div>
                        <span
                          ><i
                            class="fa fa-user fa-3x pull-left"
                            aria-hidden="true"
                          ></i
                        ></span>
                      </div>
                    </ng-template>
                    <div class="comment-text">
                      <span
                        class="username"
                        style="cursor: pointer"
                        [routerLink]="['/profile']"
                        [queryParams]="{ id: comment.userId }"
                      >
                        {{ comment.firstName + " " + comment.lastName }}
                        <span class="text-muted pull-right">{{
                          comment.comment.timestamp | myCustomDatePipe
                        }}</span>
                      </span>
                      <span style="margin-right: 10%">
                        {{ comment.comment.comment }}
                      </span>
                    </div>
                  </div>
                </div>

                <!-- ADD COMMENT FORM -->

                <div class="box-footer" style="display: block">
                  <form class="form-group" #myF="ngForm">
                    <img
                      class="rounded-circle img-sm"
                      src="https://bootdey.com/img/Content/avatar/avatar1.png"
                      alt="Alt Text"
                    />
                    <div class="img-push">
                      <input
                        ngModel
                        type="text"
                        name="comment"
                        for="commment"
                        class="form-control input-sm"
                        placeholder="Press enter to post comment"
                        style="
                          border: 1px solid grey;
                          box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.4);
                        "
                        (keyup.enter)="
                          onPublishComment(myF.form.value.comment, post.post.id)
                        "
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
<ng-template #elseBlock>
  <div class="row">
    <div class="col">
      <h2>No posts to show!</h2>
    </div>
  </div>
</ng-template>
