<app-menu></app-menu>
<div class="container-fluid no-padind">
  <div class="row">
    <div class="col-md-3">
      <div class="svg-container" style="position: fixed">
        <svg
          class="hp-svg"
          id="visual"
          viewBox="0 0 900 600"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
        >
          <path
            d="M193 0L188.5 20C184 40 175 80 150.3 120C125.7 160 85.3 200 79.7 240C74 280 103 320 131.5 360C160 400 188 440 198 480C208 520 200 560 196 580L192 600L0 600L0 580C0 560 0 520 0 480C0 440 0 400 0 360C0 320 0 280 0 240C0 200 0 160 0 120C0 80 0 40 0 20L0 0Z"
            fill="#0066FF"
            stroke-linecap="round"
            stroke-linejoin="miter"
          ></path>
        </svg>
      </div>
    </div>
    <div class="col-md-6" align="center">
      <div class="row" style="border-style: solid; border-color: coral">
        <div class="col">
          <h3>Testi</h3>
        </div>
      </div>
      <div class="row" style="border-style: solid; border-color: red">
        <div class="col">Testi2</div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
