<div class="container">
  <div class="row">
    <div class="div col-sm">One of three columns</div>
    <div class="div col-sm">Two of three columns</div>
    <div class="div col-sm">Three of three columns</div>
  </div>
</div>
<div class="container" style="margin-top: 150px">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-outline-secondary me-2"
        placement="top"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
        popoverTitle="Popover on top"
      >
        Click me for popover on top
      </button>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
